/* Global */
/* 전역으로 사용할 것들 */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-purple-two: #6447e2;
  --color-blue: #e1f5fe;
  --color-dark-blue: #ceeaf8;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-purple-two);
  vertical-align: 3.5px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* navbar */
.navbar {
  position: fixed;
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-purple-two);
  /* background-color: var(--color-blue); */
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

/* navbar--dark (main.js에서 동작하는 기능 스타일) */
.navbar.navbar--dark {
  padding: 16px;
  background-color: var(--color-blue);
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  border-color: var(--color-purple-two);
  border-radius: var(--size-border-radius);
  background-color: var(--color-dark-blue);
}

/* navbar Toggle button */
.navbar__toggle-btn {
  display: none;
  position: absolute;
  top: 25px;
  right: 32px;
  font-size: 24px;
  color: var(--color-purple-two);
}

/* Home */
.home {
  background: url(imgs/home-background.png) center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center; /* 중간정렬 */
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-purple-two);
}

.home__contact {
  margin-top: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-purple-two);
  border-radius: var(--size-border-radius);
  color: var(--color-purple-two);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
}
.home__contact:hover {
  border-radius: var(--size-border-radius);
  background-color: var(--color-dark-blue);
}

/* Section common */
.section {
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

/* 너비를 원하는 곳에 지정 */
.section__container {
  max-width: 1200px;
  margin: auto;
}

/* about */
.about__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 80px;
}

.about__list__item {
  width: 300px;
}

.about__list__Interval {
  margin-bottom: 40px;
}
.about__list__item > div {
  position: relative;
}

.about__list__item > div > i {
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 30px;
}

/* About에서 제목에 해당하는 부분을 설정 */
.about__list__item > .email > b,
.about__list__item > .about__list__common > b {
  text-align: center;
  font-size: var(--font-regular);
}

/* About에서 내용에 해당하는 부분을 설정 */
.about__list__item > .email > b > span,
.about__list__item > .about__list__common > b > span {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
}

/* 이름, 생년월일, 주소지, 연락처, 취미에 왼쪽여백 적용 */
.about__list__common {
  margin-left: 30px;
}

/* 취미 아이콘 */
.about__list__item > div > i.hobby__icon {
  margin-left: -8px;
}

/* Skill */
.skills {
  background-color: var(--color-blue);
  margin-top: 40px;
  /* About bottom에 마진을 줌 */
}

.section__container > h1 {
  color: var(--color-purple-two);
}

.section__container > p {
  color: var(--color-black);
}

.skillset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;
  margin: 60px 0 40px;
  /* 프론트엔드 박스와 버전관리 박스의 위아래로 마진을 줌 */
}

.skillset__left {
  flex-basis: 60%;
  padding: 30px;
  background-color: var(--color-white);
  border-radius: 20px;
}

.skillset__left > h2 {
  margin-bottom: 50px;
  font-size: 32px;
  color: var(--color-purple-two);
}

.skillset__right {
  flex-basis: 30%;
  padding: 30px;
  background-color: var(--color-white);
  border-radius: 20px;
}

.skillset__right > h2 {
  margin-bottom: 20px;
  font-size: 32px;
  color: var(--color-purple-two);
}

/* Projects */
.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.works__projects.section {
  padding: 50px 0 100px;
  /* Projects의 위아래 여백 */
}

.works__projects > h1 {
  margin-bottom: 30px;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 위의 세줄 코드는 이미지 가운데 정렬  */
  position: relative;
  margin: 2px;
  width: 300px;
  height: 250px;
  background-color: var(--color-blue);
  border-radius: var(--size-border-radius);
}

.project__img {
  max-width: 100%;
  min-width: 30%;
  max-height: 100%;
}

.project__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--size-border-radius);
  background-color: var(--color-black);
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.5;
  transform: translateY(0px);
}

.project__description h3,
p {
  color: white;
}

.project__description h3:after {
  display: block;
  position: relative;
  left: 50%;
  content: "";
  margin-left: -12px;
  margin-top: 8px;
  width: 25px;
  height: 2px;
  background-color: var(--color-white);
}

/* contact */
.contact {
  background-color: var(--color-blue);
}

.contact__links {
  margin-bottom: 20px;
  font-size: var(--font-large);
}

.contact__links > a > i {
  color: var(--color-black);
}

.contact__links > a > img.velog__icon {
  width: 46px;
  height: 46px;
  vertical-align: -5px;
}
.contact__links > a > img.notion__icon {
  margin: 0 20px;
  width: 58px;
  height: 58px;
  vertical-align: -11px;
}

.contact__links > a > i:hover,
.contact__links > a > img:hover {
  transform: scale(1.1);
}

.contact__rights {
  color: var(--color-black);
}

/* Scroll Arrow up */
.arrow-up {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  transition: all var(--animation-duration) ease-in;
  opacity: 0;
  pointer-events: none;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* Responsive */

@media screen and (max-width: 360px) {
  .skillset__left {
    width: 330px;
  }

  .react__logo {
    margin-left: -10px;
  }
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .navbar__toggle-btn {
    display: block;
    top: 25px;
    right: 16px;
    font-size: var(--font-medium);
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-blue);
  }

  .navbar.navbar--dark {
    padding: 16px;
  }

  .navbar__menu {
    flex-direction: column;
    display: none;
    width: 100%;
    text-align: center;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
  }

  .about__list {
    flex-direction: column;
    text-align: center;
    padding: 30px 0;
    border-radius: 20px;
    background-color: var(--color-blue);
  }

  .about__list__item {
    width: 100%;
  }

  .about__list__item > div > i {
    left: 60px;
  }

  .about__list__common {
    margin-left: 80px;
  }

  .skillset {
    flex-direction: column;
  }
  .skillset__left {
    margin-bottom: 30px;
  }

  .html__logo {
    display: block;
    margin: 0 auto;
  }
  .css__logo {
    display: block;
    margin: 0 auto;
  }

  .git__logo__icon {
    margin-left: -50px;
    vertical-align: middle;
  }

  .github__logo__icon {
    vertical-align: middle;
  }

  .works__projects.section {
    padding: 25px 0 50px;
  }

  .project {
    flex-grow: 1;
  }

  .contact__links > a > i,
  .contact__links > a > img {
    transition: all var(--animation-duration) ease-in;
  }

  .contact__links > a > img.velog__icon {
    width: 30px;
    height: 30px;
    vertical-align: -3px;
  }
  .contact__links > a > img.notion__icon {
    width: 38px;
    height: 38px;
    vertical-align: -7px;
  }

  .arrow-up {
    font-size: var(--font-medium);
    right: 20px;
    bottom: 20px;
  }
}
