/* Global */
/* 전역으로 사용할 것들 */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  /* --color-purple-one: #5a54e0; */
  --color-purple-two: #6447e2;
  /* --color-purple-three: #792de7; */

  /* --color-pink: #fe918d;
  --color-dark-pink: #ff6863; */
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #e1f5fe;
  --color-dark-blue: #b7e4fa;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-purple-two);
  vertical-align: 3.5px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-blue);
  align-items: center;
  color: var(--color-purple-two);
  padding: 16px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 2px solid var(--color-purple-two);
}

.navbar__menu__item:hover {
  background-color: var(--color-white);
}

/* Home */
.home {
  background: url(imgs/home-background.png) center/cover no-repeat;
  padding: 40px;
  text-align: center; /* 중간정렬 */
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-purple-two);
}

.home__contact {
  margin-top: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-purple-two);
  border-radius: var(--size-border-radius);
  color: var(--color-purple-two);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
}

/* Section common */
.section {
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

/* 너비를 원하는 곳에 지정 */
.section__container {
  max-width: 1200px;
  margin: auto;
}

.about__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 80px;
}

.about__list__item {
  width: 300px;
}

.about__list__Interval {
  margin-bottom: 40px;
}
.about__list__item > div {
  position: relative;
}

.about__list__item > div > i {
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 30px;
}

/* About에서 제목에 해당하는 부분을 설정 */
.about__list__item > .email > b,
.about__list__item > .about__list__common > b {
  text-align: center;
  font-size: var(--font-regular);
}

/* About에서 내용에 해당하는 부분을 설정 */
.about__list__item > .email > b > span,
.about__list__item > .about__list__common > b > span {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
}

/* email */
.about__list__item > .email {
  padding-left: 30px;
}

/* 이름, 생년월일, 주소지, 연락처, 취미에 적용 */
.about__list__common {
  padding-left: 25px;
}

/* 이메일 아이콘 */
.about__list__item > div > i.email__icon {
  margin-left: -2px;
}

/* 취미 아이콘 */
.about__list__item > div > i.hobby__icon {
  margin-left: -9px;
}

/* Skill */
.skills {
  background-color: var(--color-blue);
  margin-top: 40px;
  /* About bottom에 마진을 줌 */
}

.section__container > h1 {
  color: var(--color-purple-two);
}

.skillset {
  display: flex;
  margin: 60px 0 40px;
  /* 프론트엔드 박스와 버전관리 박스의 위아래로 마진을 줌 */
}

.skillset__left {
  flex-basis: 60%;
  padding: 30px;
  margin-right: 120px;
  background-color: var(--color-white);
  border-radius: 20px;
}

.skillset__left > h2 {
  margin-bottom: 40px;
  font-size: 32px;
  color: var(--color-purple-two);
  /* border: 1px solid red; */
}

.skillset__right {
  flex-basis: 30%;
  padding: 30px;
  background-color: var(--color-white);
  border-radius: 20px;
}

.skillset__right > h2 {
  margin-bottom: -2px;
  font-size: 32px;
  color: var(--color-purple-two);
  /* border: 1px solid red; */
}

/* Projects */

/* contact */
.contact {
  background-color: var(--color-blue);
}

.contact__links {
  margin-bottom: 20px;
  font-size: var(--font-large);
}
.contact__links > a > i {
  color: var(--color-black);
}

.contact__links > a > img {
  margin-left: 20px;
  width: 46px;
  height: 46px;
  vertical-align: -5px;
}
